<p>
  <%= label_tag("settings[username]", l('bitly_host.username')) %>
  <%= text_field_tag("settings[username]", BitlyHost.username) %>
</p>
<p>
  <%= label_tag("settings[api_key]", l('bitly_host.api_key')) %>
  <%= text_field_tag("settings[api_key]", BitlyHost.api_key) %>
</p>
